<div class="wrapper">
  <div class="links">
    <a
      routerLink=""
      routerLinkActive="selected"
      [routerLinkActiveOptions]="{ exact: true }"
      class="tab"
    >
      <div class="tab-tile">
        <h3 class="is-uppercase is-bold">Home</h3>
      </div>
    </a>

    <a
      routerLink="shop"
      routerLinkActive="selected"
      [routerLinkActiveOptions]="{ exact: true }"
      class="tab"
    >
      <div class="tab-tile">
        <h3 class="is-uppercase is-bold">Shop</h3>
      </div>
    </a>

    <a href="https://www.facebook.com/pwcgraphics/photos/?ref=page_internal" target="_blank" class="tab">
      <div class="tab-tile">
        <h3 class="is-uppercase is-bold">Gallery</h3>
      </div>
    </a>

    <a
      routerLink="contact"
      routerLinkActive="selected"
      [routerLinkActiveOptions]="{ exact: true }"
      class="tab"
    >
      <div class="tab-tile">
        <h3 class="is-uppercase is-bold">Contact</h3>
      </div>
    </a>

    <a
      routerLink="resources"
      routerLinkActive="selected"
      [routerLinkActiveOptions]="{ exact: true }"
      class="tab"
    >
      <div class="tab-tile">
        <h3 class="is-uppercase is-bold">Resources</h3>
      </div>
    </a>
  </div>
</div>
