article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

@font-face {
  font-family: lato;
  src: url("media/Lato-Regular.ttf");
}
html, body {
  min-height: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: lato, sans-serif;
  font-size: calc(0.6em + 0.5vw);
}

#page-container {
  position: relative;
  height: 100%;
}

header {
  position: relative;
  z-index: 99;
  top: 0;
  height: 30%;
  text-align: center;
  background: url(media/header-background.png) repeat-x bottom center #191919;
}
header #logo {
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10%;
  height: 75%;
  max-height: 200px;
  margin: auto;
}
header #socials {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 5%;
  margin: 0;
  transform: translateY(-50%);
}
header #socials #facebook {
  font-size: 32px;
  color: #2D2D2D;
}
header #socials #facebook #fb-circle {
  color: #F3F3F3;
  transition: 200ms;
}
header #socials #facebook a {
  color: #2D2D2D;
}
header #socials #twitter {
  font-size: 32px;
  color: #2D2D2D;
}
header #socials #twitter #twitter-circle {
  color: #F3F3F3;
  transition: 200ms;
}
header #socials #twitter a {
  color: #2D2D2D;
}
header #socials #insta {
  font-size: 32px;
  color: #2D2D2D;
}
header #socials #insta #ig-circle {
  color: #F3F3F3;
  transition: 200ms;
}
header #socials #insta a {
  color: #2D2D2D;
}

#name-bar {
  width: 100%;
  height: 90px;
  background-color: #2D2D2D;
  color: #F3F3F3;
  padding-top: 1px;
}
#name-bar h2 {
  margin-top: 0;
  margin-left: 10%;
  font-size: 38px;
  line-height: 90px;
}

.home-image {
  display: block;
  position: relative;
  z-index: -1;
  width: 100%;
  height: 55%;
  margin-bottom: 50px;
}

main {
  display: inline-block;
  width: 50%;
  margin-left: 5%;
}

footer {
  width: 100%;
  height: 60px;
  font-size: 16px;
  text-align: center;
  color: #F3F3F3;
  background: url(media/footer_background.png) repeat-x center top #191919;
}
footer p {
  margin: auto;
  padding-top: 15px;
}

#contact {
  line-height: 30px;
  margin: 75px auto;
  display: block;
  text-align: center;
}

nav {
  z-index: 99;
  width: 100%;
  height: 90px;
  background-color: #FCC605;
  font-weight: 600;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
}
nav ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
nav li {
  display: inline-block;
  float: left;
}
nav li:first-child {
  margin-left: 10%;
}
nav a {
  position: relative;
  display: inline;
  margin: 0 30px 0 0;
  font-size: 24px;
  color: #2D2D2D;
  text-decoration: none;
  line-height: 90px;
}
nav a:hover {
  color: #F3F3F3;
  transition: 200ms;
}
nav #current {
  color: #F3F3F3;
}
nav #cart {
  float: right;
  margin-top: 8px;
  margin-right: 10%;
  font-size: 32px;
  color: #F3F3F3;
  transition: 200ms;
}
nav #cart #cart-circle {
  color: #2D2D2D;
}

.dropdown {
  display: inline;
  width: 100px;
  margin-top: 10px;
  overflow: hidden;
}
.dropdown #dropbtn {
  border: none;
  outline: none;
  margin: -2px;
  margin-top: -1px;
  background-color: inherit;
  font-size: 24px;
  font-family: inherit;
  font-weight: 600;
  color: #2D2D2D;
  line-height: 90px;
}
.dropdown #dropbtn:hover {
  color: #F3F3F3;
  transition: 200ms;
}
.dropdown #dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  min-width: 160px;
  float: left;
  background-color: #F3F3F3;
  color: #2D2D2D;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}
.dropdown #dropdown-content a {
  display: block;
  width: 100%;
  float: none;
  padding: 0 10px;
  background-color: #F3F3F3;
  font-size: 16px;
  text-decoration: none;
  text-align: left;
  color: #2D2D2D;
}
.dropdown #dropdown-content a:hover {
  color: #FCC605;
  transition: 200ms;
}

.dropdown:hover #dropdown-content {
  display: block;
  transition: 200ms;
}

#menu {
  float: left;
  margin-left: calc(5% + 40px);
  width: 15%;
  font-size: calc(0.8em + 0.5vw);
}
#menu #side-nav {
  display: inline-block;
  font-weight: 600;
  width: 100%;
}
#menu #side-nav h3 {
  display: block;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #414141;
  background-color: #2D2D2D;
  font-weight: bold;
  color: #F3F3F3;
  text-align: center;
}
#menu #side-nav a {
  display: block;
  padding: 20px 20px 20px 30px;
  border-top: 1px solid #414141;
  background-color: #2D2D2D;
  color: #F3F3F3;
  text-decoration: none;
}
#menu #side-nav a:hover {
  background-color: #414141;
  transition: 200ms;
}
#menu #side-nav #current-cat {
  background-color: #414141;
}

@media only screen and (max-width: 1060px) {
  header {
    height: 30vh;
  }
  header #logo {
    max-height: 150px;
  }
  header #socials #facebook, header #socials #twitter, header #socials #insta {
    font-size: 24px;
  }

  main {
    font-size: calc(0.75em + 1vw);
  }

  nav {
    height: 65px;
  }
  nav a {
    font-size: 18px;
    line-height: 65px;
  }
  nav li:first-child {
    margin-left: 5%;
  }
  nav #cart {
    margin-right: 5%;
    font-size: 24px;
  }

  #menu {
    width: 25%;
  }

  .dropdown #dropbtn {
    font-size: 18px;
    line-height: 65px;
  }
}
@media only screen and (max-width: 680px) {
  header {
    height: 60%;
  }
  header #logo-helper {
    height: 50%;
  }
  header #logo-helper #logo {
    position: initial;
    height: initial;
    max-height: 90%;
    width: 90%;
    margin-top: 8%;
  }
  header #socials {
    display: block;
    position: initial;
    margin-top: 70px;
  }
  header #socials #facebook, header #socials #twitter, header #socials #insta {
    font-size: 3em;
  }

  .home-image {
    display: none;
  }

  main {
    display: block;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 16px;
  }

  nav a {
    font-size: 12px;
    margin-right: 15px;
  }
  nav li:first-child {
    margin-left: 5%;
  }
  nav #cart {
    margin-right: 5%;
  }

  .dropdown #dropdown-content {
    min-width: 100px;
  }
  .dropdown #dropbtn {
    font-size: 12px;
  }

  #menu {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
