article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

@font-face {
  font-family: lato;
  src: url("media/Lato-Regular.ttf");
}
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: lato, sans-serif;
  font-size: calc(0.6em + 0.5vw);
}

#page-container {
  position: relative;
  height: 100%;
}

header {
  position: relative;
  z-index: 99;
  top: 0;
  height: 30%;
  text-align: center;
  background: url(media/header-background.png) repeat-x bottom center #191919;
}
header #logo-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
header #logo {
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10%;
  margin: auto;
  height: 75%;
}

.home-image {
  display: block;
  margin-bottom: 50px;
  width: 100%;
  height: 50%;
}

main {
  display: inline-block;
  width: 50%;
  margin-left: 5%;
}

footer {
  width: 100%;
  height: 60px;
  font-size: 16px;
  text-align: center;
  color: #F3F3F3;
  background: url(media/footer_background.png) repeat-x center top #191919;
}
footer p {
  padding-top: 15px;
}

nav {
  width: 100%;
  height: 80px;
  background-color: #FCC605;
  font-weight: 600;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
}
nav ul {
  margin: 0;
}
nav li {
  display: inline-block;
  float: left;
}
nav li:first-child {
  margin-left: 5%;
}
nav a {
  position: relative;
  display: inline;
  margin: 0 30px 0 0;
  font-size: 24px;
  color: #2D2D2D;
  text-decoration: none;
  line-height: 80px;
}
nav a:hover {
  color: #F3F3F3;
  transition: 200ms;
}
nav #current {
  color: #F3F3F3;
}
nav #cart {
  float: right;
  margin-top: 8px;
  margin-right: 5%;
  font-size: 32px;
  color: #F3F3F3;
  transition: 200ms;
}
nav #cart #cart-circle {
  color: #2D2D2D;
}

.dropdown {
  display: inline;
  width: 100px;
  margin-top: 10px;
  overflow: hidden;
}
.dropdown #dropbtn {
  border: none;
  outline: none;
  margin: -2px;
  margin-top: -1px;
  background-color: inherit;
  font-size: 24px;
  font-family: inherit;
  font-weight: 600;
  color: #2D2D2D;
  line-height: 80px;
}
.dropdown #dropbtn:hover {
  color: #F3F3F3;
  transition: 200ms;
}
.dropdown #dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  min-width: 160px;
  float: left;
  background-color: #F3F3F3;
  color: #2D2D2D;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}
.dropdown #dropdown-content a {
  display: block;
  width: 100%;
  float: none;
  padding: 0 10px;
  background-color: #F3F3F3;
  font-size: 16px;
  text-decoration: none;
  text-align: left;
  color: #2D2D2D;
}
.dropdown #dropdown-content a:hover {
  color: #FCC605;
  transition: 200ms;
}

.dropdown:hover #dropdown-content {
  display: block;
  transition: 200ms;
}

#menu {
  float: left;
  margin-left: 5%;
  width: 15%;
  font-size: calc(0.8em + 0.5vw);
}
#menu #side-nav {
  display: inline-block;
  font-weight: 600;
  width: 100%;
}
#menu #side-nav h2 {
  display: block;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #414141;
  background-color: #2D2D2D;
  font-weight: bold;
  color: #F3F3F3;
  text-align: center;
}
#menu #side-nav a {
  display: block;
  padding: 20px 20px 20px 30px;
  border-top: 1px solid #414141;
  background-color: #2D2D2D;
  color: #F3F3F3;
  text-decoration: none;
}
#menu #side-nav a:hover {
  background-color: #414141;
}
#menu #side-nav #current-cat {
  background-color: #414141;
}
#menu #facebook {
  z-index: -1;
  margin-top: 10px;
  font-size: 32px;
  color: #F3F3F3;
  transition: 200ms;
}
#menu #facebook #fb-circle {
  color: #2D2D2D;
}
#menu #facebook a {
  color: #F3F3F3;
}
#menu #center {
  display: table;
  margin: 0 auto;
}

@media only screen and (max-width: 1050px) {
  header {
    height: 35vh;
  }

  main {
    font-size: calc(0.75em + 1vw);
  }

  nav {
    height: 50px;
  }
  nav a {
    font-size: 16px;
    line-height: 50px;
  }
  nav #cart {
    font-size: 16px;
  }

  #menu {
    width: 25%;
  }

  .dropdown #dropbtn {
    font-size: 16px;
    line-height: 50px;
  }

  #facebook {
    font-size: 24px;
  }
}
@media only screen and (max-width: 680px) {
  header #logo {
    position: initial;
    vertical-align: middle;
    float: none;
    height: 60%;
  }

  .home-image {
    display: none;
  }

  main {
    display: block;
    width: 90%;
    margin-left: 5%;
    font-size: 16px;
  }

  nav a {
    font-size: 12px;
    margin-right: 15px;
  }
  nav li:first-child {
    margin-left: 2%;
  }
  nav #cart {
    margin-right: 2%;
  }

  .dropdown #dropdown-content {
    min-width: 100px;
  }
  .dropdown #dropbtn {
    font-size: 12px;
  }

  #menu {
    display: none;
  }

  #facebook {
    margin-left: 0;
  }
}

/*# sourceMappingURL=main.css.map */
