<div class="wrapper">
  <div class="links">
    <a class="tab">
      <div class="tab-tile">
        <h3 class="is-uppercase is-bold">Kawasaki</h3>
      </div>
    </a>

    <a class="tab">
      <div class="tab-tile">
        <h3 class="is-uppercase is-bold">Sea-Doo</h3>
      </div>
    </a>

    <a class="tab">
      <div class="tab-tile">
        <h3 class="is-uppercase is-bold">Yamaha</h3>
      </div>
    </a>

    <a class="tab">
      <div class="tab-tile">
        <h3 class="is-uppercase is-bold">Polaris</h3>
      </div>
    </a>

    <a class="tab">
      <div class="tab-tile">
        <h3 class="is-uppercase is-bold">Registration Numbers</h3>
      </div>
    </a>

    <a class="tab">
      <div class="tab-tile">
        <h3 class="is-uppercase is-bold">Race Numbers</h3>
      </div>
    </a>

    <a class="tab">
      <div class="tab-tile">
        <h3 class="is-uppercase is-bold">Logos</h3>
      </div>
    </a>
  </div>
</div>
