<nav
	id="sidenav"
	class="navbar navbar-expand-md p-0 my-3 justify-content-center mx-auto"
>
	<button
		class="navbar-toggler flex-grow-1"
		type="button"
		data-toggle="collapse"
		data-target="#sideNavDropdown"
		aria-controls="sideNavDropdown"
		aria-expanded="false"
		aria-label="Toggle navigation"
	>
		<span
			class="
				navbar-toggler-icon
				text-uppercase
				font-weight-bold
				text-center
				w-100
				dropdown-toggle
			"
		>
			Categories
		</span>
	</button>
	<div class="collapse navbar-collapse" id="sideNavDropdown">
		<ul class="navbar-nav flex-column mx-auto">
			<li class="nav-item text-uppercase font-weight-bold text-center">
				<a class="nav-link p-4" href="/categories/kawasaki.html"
					>Kawasaki</a
				>
			</li>
			<li class="nav-item text-uppercase font-weight-bold text-center">
				<a class="nav-link p-4" href="/categories/seadoo.html"
					>Sea-Doo</a
				>
			</li>
			<li class="nav-item text-uppercase font-weight-bold text-center">
				<a class="nav-link p-4" href="/categories/yamaha.html"
					>Yamaha</a
				>
			</li>
			<li class="nav-item text-uppercase font-weight-bold text-center">
				<a class="nav-link p-4" href="/categories/polaris.html"
					>Polaris</a
				>
			</li>
			<li class="nav-item text-uppercase font-weight-bold text-center">
				<a
					class="nav-link p-4"
					href="/categories/registration-numbers.html"
					>Registration Numbers</a
				>
			</li>
			<li class="nav-item text-uppercase font-weight-bold text-center">
				<a class="nav-link p-4" href="/categories/race-numbers.html"
					>Race Numbers</a
				>
			</li>
			<li class="nav-item text-uppercase font-weight-bold text-center">
				<a class="nav-link p-4" href="/categories/logos.html">Logos</a>
			</li>
		</ul>
	</div>
</nav>
